In [77]:
import numpy as np
import pandas as pd

In [78]:
# DataFrame
stats = pd.read_csv("Life Expectancy Data.csv", sep=',', usecols=["country", "year", "life_expect"])[lambda x: x['year'] == 2016]
print(type(stats))
stats

<class 'pandas.core.frame.DataFrame'>

                               country  year  life_expect
16                              Angola  2016     62.63262
33                             Burundi  2016     60.09811
50                               Benin  2016     61.08568
67                        Burkina Faso  2016     60.32101
84                            Botswana  2016     66.05297
...                                ...   ...          ...
3042                             Japan  2016     84.16616
3059                          Cambodia  2016     69.36723
3076                          Kiribati  2016     66.12499
3093                 Republic of Korea  2016     82.66409
3110  Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [79]:
# Indexes
stats.index = map(lambda x: x[:4], stats['country'].values)
stats

                               country  year  life_expect
Ango                            Angola  2016     62.63262
Buru                           Burundi  2016     60.09811
Beni                             Benin  2016     61.08568
Burk                      Burkina Faso  2016     60.32101
Bots                          Botswana  2016     66.05297
...                                ...   ...          ...
Japa                             Japan  2016     84.16616
Camb                          Cambodia  2016     69.36723
Kiri                          Kiribati  2016     66.12499
Repu                 Republic of Korea  2016     82.66409
Lao   Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [80]:
# Series
age = stats["life_expect"]
print(type(age))
age

<class 'pandas.core.series.Series'>

Ango    62.63262
Buru    60.09811
Beni    61.08568
Burk    60.32101
Bots    66.05297
          ...
Japa    84.16616
Camb    69.36723
Kiri    66.12499
Repu    82.66409
Lao     65.79089
Name: life_expect, Length: 183, dtype: float64

In [81]:
# Change type
age = age.astype(int)
age

Ango    62
Buru    60
Beni    61
Burk    60
Bots    66
        ..
Japa    84
Camb    69
Kiri    66
Repu    82
Lao     65
Name: life_expect, Length: 183, dtype: int32

In [82]:
# Get element by index
age['Ango']

62

In [83]:
# Get element as attribute
age.Camb

69

In [84]:
age = age.astype(str)
age

Ango    62
Buru    60
Beni    61
Burk    60
Bots    66
        ..
Japa    84
Camb    69
Kiri    66
Repu    82
Lao     65
Name: life_expect, Length: 183, dtype: object

In [85]:
# String methods
age.str.contains('8')

Ango    False
Buru    False
Beni    False
Burk    False
Bots    False
        ...
Japa     True
Camb    False
Kiri    False
Repu     True
Lao     False
Name: life_expect, Length: 183, dtype: bool

In [86]:
# String methods
age.index = age.index.str.upper()
age

ANGO    62
BURU    60
BENI    61
BURK    60
BOTS    66
        ..
JAPA    84
CAMB    69
KIRI    66
REPU    82
LAO     65
Name: life_expect, Length: 183, dtype: object

In [87]:
stats

                               country  year  life_expect
Ango                            Angola  2016     62.63262
Buru                           Burundi  2016     60.09811
Beni                             Benin  2016     61.08568
Burk                      Burkina Faso  2016     60.32101
Bots                          Botswana  2016     66.05297
...                                ...   ...          ...
Japa                             Japan  2016     84.16616
Camb                          Cambodia  2016     69.36723
Kiri                          Kiribati  2016     66.12499
Repu                 Republic of Korea  2016     82.66409
Lao   Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [88]:
#statistics
stats.describe()

         year  life_expect
count   183.0   183.000000
mean   2016.0    71.787813
std       0.0     7.629027
min    2016.0    52.938010
25%    2016.0    66.070495
50%    2016.0    73.403960
75%    2016.0    76.872085
max    2016.0    84.166160

In [89]:
stats.country

Ango                              Angola
Buru                             Burundi
Beni                               Benin
Burk                        Burkina Faso
Bots                            Botswana
                      ...
Japa                               Japan
Camb                            Cambodia
Kiri                            Kiribati
Repu                   Republic of Korea
Lao     Lao People's Democratic Republic
Name: country, Length: 183, dtype: object

In [90]:
# Usage of loc/iloc methods
stats.loc['Ango']

country          Angola
year               2016
life_expect    62.63262
Name: Ango, dtype: object

In [91]:
stats.iloc[1]

country         Burundi
year               2016
life_expect    60.09811
Name: Buru, dtype: object

In [92]:
stats.iloc[0:5]

           country  year  life_expect
Ango        Angola  2016     62.63262
Buru       Burundi  2016     60.09811
Beni         Benin  2016     61.08568
Burk  Burkina Faso  2016     60.32101
Bots      Botswana  2016     66.05297

In [93]:
stats.loc[['Ango', 'Buru']]

      country  year  life_expect
Ango   Angola  2016     62.63262
Buru  Burundi  2016     60.09811

In [94]:
stats.loc[['Ango', 'Buru'], ['country', 'life_expect']]

      country  life_expect
Ango   Angola     62.63262
Buru  Burundi     60.09811

In [95]:
stats.iloc[0:5, [0, 2]]

           country  life_expect
Ango        Angola     62.63262
Buru       Burundi     60.09811
Beni         Benin     61.08568
Burk  Burkina Faso     60.32101
Bots      Botswana     66.05297

In [96]:
# Boolean indexing
stats[stats["life_expect"] > 80]

                                                country  year  life_expect
Cana                                             Canada  2016     82.80972
Aust                                            Austria  2016     81.87031
Belg                                            Belgium  2016     81.16279
Swed                                             Sweden  2016     82.36343
Slov                                           Slovenia  2016     80.91451
Neth                                        Netherlands  2016     81.63280
Norw                                             Norway  2016     82.47630
Port                                           Portugal  2016     81.52627
Malt                                              Malta  2016     81.49574
Ital                                              Italy  2016     82.77284
Luxe                                         Luxembourg  2016     82.39915
Gree                                             Greece  2016     81.16033
Irel                                            Ireland  2016     81.53663
Icel                                            Iceland  2016     82.39584
Isra                                             Israel  2016     82.29099
Spai                                              Spain  2016     83.07912
Finl                                            Finland  2016     81.44721
Fran                                             France  2016     82.94602
Unit  United Kingdom of Great Britain and Northern I...  2016     81.43250
Germ                                            Germany  2016     81.00278
Denm                                            Denmark  2016     81.24531
Swit                                        Switzerland  2016     83.26371
Cypr                                             Cyprus  2016     80.70889
Aust                                          Australia  2016     82.90018
Sing                                          Singapore  2016     82.94685
New                                         New Zealand  2016     82.24739
Japa                                              Japan  2016     84.16616
Repu                                  Republic of Korea  2016     82.66409

In [97]:
# Transposed dataframe  
stats.T

,Ango,Buru,Beni,Burk,Bots,Cent,Unit,Ugan,Sout,Zamb,...,Sing,Solo,Mong,Mala,New,Japa,Camb,Kiri,Repu,Lao
country,Angola,Burundi,Benin,Burkina Faso,Botswana,Central African Republic,United Republic of Tanzania,Uganda,South Africa,Zambia,...,Singapore,Solomon Islands,Mongolia,Malaysia,New Zealand,Japan,Cambodia,Kiribati,Republic of Korea,Lao People's Democratic Republic
year,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
life_expect,62.63262,60.09811,61.08568,60.32101,66.05297,53.0428,63.90913,62.49541,63.59951,62.32869,...,82.94685,71.13122,69.80354,75.27525,82.24739,84.16616,69.36723,66.12499,82.66409,65.79089

In [98]:
# Sort by index
stats.sort_index(ascending=False, inplace=True)

In [99]:
stats

                                 country  year  life_expect
Zimb                            Zimbabwe  2016     61.44675
Zamb                              Zambia  2016     62.32869
Yeme                               Yemen  2016     65.31264
Viet                            Viet Nam  2016     76.33917
Vene  Venezuela (Bolivarian Republic of)  2016     74.05354
...                                  ...   ...          ...
Anti                 Antigua and Barbuda  2016     74.99754
Ango                              Angola  2016     62.63262
Alge                             Algeria  2016     76.36365
Alba                             Albania  2016     76.37373
Afgh                         Afghanistan  2016     62.68935

[183 rows x 3 columns]