In [1]:
import numpy as np
import pandas as pd

In [25]:
# DataFrame
stats = pd.read_csv("Life Expectancy Data.csv", sep=',', usecols=["country", "year", "life_expect"])[lambda x: x['year'] == 2016]
print(type(stats))
stats

<class 'pandas.core.frame.DataFrame'>

                               country  year  life_expect
16                              Angola  2016     62.63262
33                             Burundi  2016     60.09811
50                               Benin  2016     61.08568
67                        Burkina Faso  2016     60.32101
84                            Botswana  2016     66.05297
...                                ...   ...          ...
3042                             Japan  2016     84.16616
3059                          Cambodia  2016     69.36723
3076                          Kiribati  2016     66.12499
3093                 Republic of Korea  2016     82.66409
3110  Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [3]:
# Indexes
stats.index = map(lambda x: x[:4], stats['country'].values)
stats

                               country  year  life_expect
Ango                            Angola  2016     62.63262
Buru                           Burundi  2016     60.09811
Beni                             Benin  2016     61.08568
Burk                      Burkina Faso  2016     60.32101
Bots                          Botswana  2016     66.05297
...                                ...   ...          ...
Japa                             Japan  2016     84.16616
Camb                          Cambodia  2016     69.36723
Kiri                          Kiribati  2016     66.12499
Repu                 Republic of Korea  2016     82.66409
Lao   Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [4]:
# Series
age = stats["life_expect"]
print(type(age))
age

<class 'pandas.core.series.Series'>

Ango    62.63262
Buru    60.09811
Beni    61.08568
Burk    60.32101
Bots    66.05297
          ...
Japa    84.16616
Camb    69.36723
Kiri    66.12499
Repu    82.66409
Lao     65.79089
Name: life_expect, Length: 183, dtype: float64

In [5]:
# Change type
age = age.astype(int)
age

Ango    62
Buru    60
Beni    61
Burk    60
Bots    66
        ..
Japa    84
Camb    69
Kiri    66
Repu    82
Lao     65
Name: life_expect, Length: 183, dtype: int32

In [6]:
# Get element by index
age['Ango']

62

In [7]:
# Get element as attribute
age.Camb

69

In [8]:
age = age.astype(str)
age

Ango    62
Buru    60
Beni    61
Burk    60
Bots    66
        ..
Japa    84
Camb    69
Kiri    66
Repu    82
Lao     65
Name: life_expect, Length: 183, dtype: object

In [9]:
# String methods
age.str.contains('8')

Ango    False
Buru    False
Beni    False
Burk    False
Bots    False
        ...
Japa     True
Camb    False
Kiri    False
Repu     True
Lao     False
Name: life_expect, Length: 183, dtype: bool

In [10]:
# String methods
age.index = age.index.str.upper()
age

ANGO    62
BURU    60
BENI    61
BURK    60
BOTS    66
        ..
JAPA    84
CAMB    69
KIRI    66
REPU    82
LAO     65
Name: life_expect, Length: 183, dtype: object

In [11]:
stats

                               country  year  life_expect
Ango                            Angola  2016     62.63262
Buru                           Burundi  2016     60.09811
Beni                             Benin  2016     61.08568
Burk                      Burkina Faso  2016     60.32101
Bots                          Botswana  2016     66.05297
...                                ...   ...          ...
Japa                             Japan  2016     84.16616
Camb                          Cambodia  2016     69.36723
Kiri                          Kiribati  2016     66.12499
Repu                 Republic of Korea  2016     82.66409
Lao   Lao People's Democratic Republic  2016     65.79089

[183 rows x 3 columns]

In [12]:
#statistics
stats.describe()

         year  life_expect
count   183.0   183.000000
mean   2016.0    71.787813
std       0.0     7.629027
min    2016.0    52.938010
25%    2016.0    66.070495
50%    2016.0    73.403960
75%    2016.0    76.872085
max    2016.0    84.166160

In [13]:
stats.country

Ango                              Angola
Buru                             Burundi
Beni                               Benin
Burk                        Burkina Faso
Bots                            Botswana
                      ...
Japa                               Japan
Camb                            Cambodia
Kiri                            Kiribati
Repu                   Republic of Korea
Lao     Lao People's Democratic Republic
Name: country, Length: 183, dtype: object

In [14]:
# Usage of loc/iloc methods
stats.loc['Ango']

country          Angola
year               2016
life_expect    62.63262
Name: Ango, dtype: object

In [15]:
stats.iloc[1]

country         Burundi
year               2016
life_expect    60.09811
Name: Buru, dtype: object

In [16]:
stats.iloc[0:5]

           country  year  life_expect
Ango        Angola  2016     62.63262
Buru       Burundi  2016     60.09811
Beni         Benin  2016     61.08568
Burk  Burkina Faso  2016     60.32101
Bots      Botswana  2016     66.05297

In [17]:
stats.loc[['Ango', 'Buru']]

      country  year  life_expect
Ango   Angola  2016     62.63262
Buru  Burundi  2016     60.09811

In [18]:
stats.loc[['Ango', 'Buru'], ['country', 'life_expect']]

      country  life_expect
Ango   Angola     62.63262
Buru  Burundi     60.09811

In [19]:
stats.iloc[0:5, [0, 2]]

           country  life_expect
Ango        Angola     62.63262
Buru       Burundi     60.09811
Beni         Benin     61.08568
Burk  Burkina Faso     60.32101
Bots      Botswana     66.05297

In [26]:
# Boolean indexing
stats[stats["life_expect"] > 80].head()

       country  year  life_expect
1325    Canada  2016     82.80972
1767   Austria  2016     81.87031
1801   Belgium  2016     81.16279
1818    Sweden  2016     82.36343
1954  Slovenia  2016     80.91451

In [30]:
# Transposed dataframe  
stats.head().T

                   16        33        50            67        84
country        Angola   Burundi     Benin  Burkina Faso  Botswana
year             2016      2016      2016          2016      2016
life_expect  62.63262  60.09811  61.08568      60.32101  66.05297

In [31]:
# Sort by index
stats.sort_index(ascending=False, inplace=True)
stats

                               country  year  life_expect
3110  Lao People's Democratic Republic  2016     65.79089
3093                 Republic of Korea  2016     82.66409
3076                          Kiribati  2016     66.12499
3059                          Cambodia  2016     69.36723
3042                             Japan  2016     84.16616
...                                ...   ...          ...
84                            Botswana  2016     66.05297
67                        Burkina Faso  2016     60.32101
50                               Benin  2016     61.08568
33                             Burundi  2016     60.09811
16                              Angola  2016     62.63262

[183 rows x 3 columns]